/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
body {
  background-color: #CCC;
}

#container {
  background-color: white;
  width: 1200px;
  display: block;
  margin: 16px auto;
  border: 2px dashed black;
  padding: 16px;
}

.center {
  text-align: center;
}

#cover-center {
  display: block;
  margin: auto;
  padding-bottom: 16px;
}

.cover-item {
  display: block;
  margin: auto;
  padding-bottom: 8px;
  width: 100px;
}

#show tr td {
  padding-bottom: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #CCC;
  vertical-align: top;
  white-space: pre-line;
}

#list {
  width: 600px;
  display: block;
  margin: auto;
}

#list tr td {
  padding: 8px 0;
  border-bottom: 4px dotted #CCC;
  vertical-align: top;
  white-space: pre-line;
  width: 300px;
}

footer {
  text-align: center;
  padding: 16px;
  font-style: italic;
}